.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

/* my skills section */

.skills-box {
  position: relative;
  background-color: black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.skills-box::before {
  content: "MY";
  position: absolute;
  color: #ffffff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 35px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.skills-box:hover::before {
  opacity: 0.2;
}

.skills-box::after {
  content: "Skills";
  position: absolute;
  color: #ffffff;
  font-size: 4em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.skills-box:hover::after {
  opacity: 0.2;
}

.skills-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 1.8em;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transform: translate3d(0, 0, 50px);
  -webkit-transform: translate3d(0, 0, 50px);
  -moz-transform: translate3d(0, 0, 50px);
  -ms-transform: translate3d(0, 0, 50px);
  -o-transform: translate3d(0, 0, 50px);
}

.skills-box:hover .skills-name {
  top: 35px;
  opacity: 1;
}

.skills-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate3d(-50%, 0, 50px);
  -moz-transform: translate3d(-50%, 0, 50px);
  -ms-transform: translate3d(-50%, 0, 50px);
  -o-transform: translate3d(-50%, 0, 50px);
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.skills-box:hover .skills-detail-button {
  opacity: 1;
  bottom: 20px;
}

.skills-img {
  position: absolute;
  max-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -52%, 75px);
  -webkit-transform: translate3d(-50%, -52%, 75px);
  -moz-transform: translate3d(-50%, -52%, 75px);
  -ms-transform: translate3d(-50%, -52%, 75px);
  -o-transform: translate3d(-50%, -52%, 75px);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  /* background-color: black; */
}

.skills-box:hover .skills-img {
  transform: translate3d(-50%, -52%, 75px) scale(1.2) rotate(5deg);
  -webkit-transform: translate3d(-50%, -52%, 75px) scale(1.2) rotate(5deg);
  -moz-transform: translate3d(-50%, -52%, 75px) scale(1.2) rotate(5deg);
  -ms-transform: translate3d(-50%, -52%, 75px) scale(1.2) rotate(5deg);
  -o-transform: translate3d(-50%, -52%, 75px) scale(1.2) rotate(5deg);
}
